body {
  background-color: rgb(0, 0, 0);
}
h1 {
  color: rgb(255, 255, 255);
}
h3 {
  color: rgb(255, 255, 255);
}
li {
  list-style-type: square;
  margin: 10px;
  color: rgb(255, 255, 255);
}
a {
  font-weight: bold;
}
p {
  color: white;
  background-color: rgb(0, 0, 0);
}
span {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}